# bin
/year_1/sem_1/CSP1150_programming_principles/01_week_1/netbeans/HelloWorld/nbproject/private/
/year_1/sem_1/CSP1150_programming_principles/01_week_1/netbeans/HelloWorld/build/
[Bb]in

#visio
*.~vsdx