# bin
[Bb]in

# Visio
*.~vsdx

# Word
*~$*.*

# Eclipse
.classpath
.project
.settings

# Self Assessments
SelfAssessment

# LaTeX
_minted*/
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.toc

# Rstudio
.Rproj.user
*.Rhistory*
*.Rdata*

# Intellij
*.iml
*.ipr
*.iws
*.class