# bin
[Bb]in

# Visio
*.~vsdx

# Word
*~$*.*

# Eclipse
.classpath
.project
.settings

# Self Assessments
SelfAssessment

# LaTeX
_minted*/
*.listing
*.pyg
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.toc

# Rstudio
.Rproj.user
*.Rhistory*
*.Rdata*

# Intellij
.idea
*.iml
*.ipr
*.iws
*.class

# Chrome temp files
*.crdownload

# Submission folders
submission

# ASP Server
0z_servers

# Mac stuff
.DS_Store
Thumbs.db

# Dropbox
*(busy)*